<<<<<<< HEAD

#site-header {
background-color: #000000;
background-image: none;
font color: #ffffff;
padding: 0;
height: 127px;

}
h2 {
	display: none;
}
.leaf{
	display: inline;
}
#user-account-information-links{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #f67c32;
	padding: 10px 10px 10px 30px;
	border-radius: 0px 0px 5px 5px;
	background-image: url("../login_logo.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 20px;
	
}
#site-header .row{
	margin: 0 auto;
	width: 902px;
	font-size: 13px; 
	
}
#site-header .row .leaf a{
height: 77px;
display: inline-block;
padding: 50px 20px;

}
#site-header .row .leaf a:hover{
	background-color: white;
	color: black;
}


#site-header ul.menu {
	margin: 0;
}

img {margin-top: 30px;}
=======
#header{ float:left;
		font-family: cursive;}

#block-block-4.block.block-block.contextual-links-region{float:left;
															margin:20px;
															font-weight: bold;
															font-size:130%;
														}
#block-block-5.block.block-block.contextual-links-region{float:left;
															margin:20px;
															font-weight: bold;
															font-size:130%;
														}
#block-block-6.block.block-block.contextual-links-region{float:left;
															margin:20px;
															font-weight: bold;
															font-size:130%;
														}
#block-block-7.block.block-block.contextual-links-region{float:left;
															margin:20px;
															font-weight: bold;
															font-size:130%;
														}
#block-block-8.block.block-block.contextual-links-region{float:left;
															margin:20px;
															font-weight: bold;
															font-size:130%;
														}
#block-block-9.block.block-block.contextual-links-region{float:left;
															margin:20px;
															font-weight: bold;
															font-size:130%;
														}



#user-account-information{background-color: orange;
							float:right;
							background-color: orange;}
>>>>>>> 5e975c93c7394eebf2dfa6205294bb1343675047
