
#site-header {
background-color: #000000;
background-image: none;
font color: #ffffff;
padding: 0;
height: 127px;
}
h2 {
	display: none;
}
.leaf{
	display: inline;
}
#user-account-information-links{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #f67c32;
	padding: 7px 14px;
	border-radius: 0px 0px 5px 5px;
	
}
#site-header .row{
	margin: 0 auto;
	width: 902px;
	
}
#site-header .row .leaf a{
height: 77px;
display: inline-block;
padding: 50px 20px;

}
#site-header .row .leaf a:hover{
	background-color: white;
	color: black;
}


#site-header ul.menu {
	margin: 0;
}


