/*Foooooter conversion*/
#site-footer{
background-color: #383838;
color:#a9a9a9;
text-align: center;
padding:0;
}

#site-footer a{
color: #a9a9a9;
text-decoration: none;
}

#site-footer h2{
color: #ffffff;
font-size:0.8rem;
border-bottom: 0.15rem solid gray;
width:6.4rem;
}

#site-footer .col{
padding:0;
}

#site-footer #mini-panel-theme_2_footer .panel-pane{
display:inline-block;
vertical-align: top;
text-align:left;
margin-right:5rem;
}

#site-footer #mini-panel-theme_2_footer .pane-content{
margin-right:0;
}

#site-footer #mini-panel-theme_2_footer .pane-content li{
padding-left: 0;
margin-left: 0;
}

/*Get in Touch*/
#in-touch p:first-child{
margin-top:0;
}

/*Useful Links*/
#site-footer #useful-links ul{
padding:0;
margin-top:0;
}

#site-footer #useful-links .leaf{
list-style-type:none;
list-style-image:none;
margin-bottom:1em;
margin-left:0;
padding: 0;
}

/*Simple news*/
#simplenews p:first-child{
margin-top:0;
}

#site-footer #simplenews{
width:19%;
margin-right:0;
}

#site-footer #simplenews div{
display:block;
margin-right:0;
}

#site-footer #simplenews label{
display:none;
}

#site-footer #simplenews .form-submit{
background-color:#F67C32;
color:#FFFFFF;
width:7rem;
height:1.7rem;
border-radius:0.2rem;
text-transform: uppercase;
}

#edit-mail{
width:100%;
}

/*copyright*/
#site-footer #mini-panel-theme_2_footer #copyright{
width: 100%;
height:45px;
background-color: #242424;
color:#505050;
text-align:center;
}
