#site-header {
	background-color: #001931;
	background-image: none;
	height: 100px
	}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
};
	}
#site-header a {
	color:  #e7e7e7;
}
#site-header a:hover {
	color: #ff9001;
	}
#header-search {
	display:none;
	}
#site-header h2 {
	display:none;
	}
#site-header ul li.leaf {
	list-style-image: none;
	list-style-type: none;
	}
#site-header ul li {
	float: left;
	padding: 0.2em 1.0em 0.8px 1.0em;
	text-align: center;
	margin:3rem;
	margin-top:-0.001rem;
	}

	