#site-header {
	background-color: #001931;
	background-image: none;
	height: 65px
	}
hr {
    display: block;
    height: 1px;
    width: 6rem;
    color: #007373;
    background-color: #007373;
    max-width: 5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 1rem;
    margin-top: 2rem;
    padding: 0;
    float:left;
}
	
#site-header a {
	color:  #e7e7e7;
}
#site-header a:hover {
	color: #ff9001;
	}
#header-search {
	display:none;
	}
#site-header h2 {
	display:none;
	}
#site-header ul li.leaf {
	list-style-image: none;
	list-style-type: none;
	border: 0;
	}
#site-header ul li {
	float: left;
	padding: 0.2em 1.0em 0.8px 1.0em;
	text-align: center;
	margin:3rem;
	margin-top:-2.75rem;
	}
#user-account-information-links {
	margin-top: -2.5rem;
	float: right;
	margin-right: 9rem;
}
	



	