#site-footer{
background-color: #383838;
color:#a9a9a9;
text-align: center;
padding:0;
}

#site-footer a{
color: #a9a9a9;
text-decoration: none;
}

#site-footer h2{
color: #ffffff;
font-size:0.8rem;
border-bottom: 0.15rem solid gray;
}

#site-footer .col{
width:100%;
padding:0;
}

#site-footer .region div{
display:inline-block;
vertical-align: top;
text-align:left;
margin-right:5rem;
}

#site-footer .region .content{
margin-right:0;
}

#site-footer .region .content li{
padding-left: 0;
margin-left: 0;
}

#block-block-1 p:first-child{
margin-top:0;
}

#site-footer #block-menu-menu-useful-links ul{
padding:0;
margin-top:0;
}

#site-footer #block-menu-menu-useful-links .leaf{
list-style-type:none;
list-style-image:none;
margin-bottom:1em;
margin-left:0;
padding: 0;
}

#site-footer #block-block-2{
width: 100%;
height:45px;
background-color: #242424;
color:#505050;
text-align:center;
}

#block-simplenews-2 p:first-child{
margin-top:0;
}

#site-footer #block-simplenews-2{
width:19%;
margin-right:0;
}

#site-footer #block-simplenews-2 div{
display:block;
margin-right:0;
}

#site-footer #block-simplenews-2 label{
display:none;
}

#site-footer #block-simplenews-2 .form-submit{
background-color:#F67C32;
color:#FFFFFF;
width:10em;
height:2em;
border-radius:0.25em;
text-transform: uppercase;
}

#edit-mail{
width:100%;
}