#site-header {
	background-color: #001931;
	background-image: none;
	height: 65px
	}
hr {
    display: block;
    height: 1px;
    width: 6rem;
    color: #007373;
    background-color: #007373;
    max-width: 5em;
    border: 0;
    margin: 1rem;
    margin-top: 1.8rem;
    float:left;
}
	
#site-header a {
	color:  #e7e7e7;
}
#site-header a:hover {
	color: #ff9001;
	}
#header-search {
	display:none;
	}
#second-sidebar {
	color: #afafaf;
	}
#second-sidebar a {
	color: #a17755;
	}
#second-sidebar a:hover {
	color: #e74c3c;
	}
#second-sidebar {
	background-color: #1a618e;
	}
#site-header h2 {
	display:none;
	}
#site-header ul li.leaf {
	list-style-image: none;
	list-style-type: none;
	border: 0;
	}
#site-header ul li {
	float: left;
	padding: 0.2em 1.0em 0.8px 1.0em;
	margin-left: 3rem;
	text-align: center;
	margin:3.5rem;
	margin-top:-4.5rem;
	}
#site-header img {
	float: left;
	clear: both;
	}

#site-content a {
	color: #a17755;
	}
#site-content a:hover {
	color: #e74c3c;
	}
#site-content a.node-tab {
	background-color: #d46f41;
	color: #ffffff;
	}
.search-form input {
	color: #a3a3a3;
	background-color: #ffffff;
	}
#user-account-information-links {
	margin-top: -4rem;
	float: right;
	margin-right:-19rem;
	border-style:solid;
	border-width: 1px;
	border-color:#007373;
	padding:3px;
}
#site-header .col-3-out-of-4{
width:75%;
margin:15px 20px 1px 23px;
}

	